.body {
    display: flex;
    flex-direction: column;

    max-width: var(--max_width);
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;

    font-size: $unit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: $text_color;
    
    background-image: url('../assets/images/bg_body.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($bg_color, $alpha + .15);
        z-index: -1;
    }

    @media screen and (max-width: 500px) {
        padding-left: $unit;
        padding-right: $unit;
    }
}